.range {
  &-xs {
    @apply h-1;
    &::-webkit-slider-runnable-track {
      @apply h-1;
    }
    &::-moz-range-track {
      @apply h-1;
    }
    &::-webkit-slider-thumb {
      @apply size-2.5;
      border-width: 2.5px;
    }
    &::-moz-range-thumb {
      @apply size-2.5;
      border-width: 2.5px;
    }
  }
  &-sm {
    @apply h-1.5;
    &::-webkit-slider-runnable-track {
      @apply h-1.5;
    }
    &::-moz-range-track {
      @apply h-1.5;
    }
    &::-webkit-slider-thumb {
      @apply size-3;
      border-width: 2.5px;
    }
    &::-moz-range-thumb {
      @apply size-3;
      border-width: 2.5px;
    }
  }
  &-lg {
    @apply h-3;
    &::-webkit-slider-runnable-track {
      @apply h-3;
    }
    &::-moz-range-track {
      @apply h-3;
    }
    &::-webkit-slider-thumb {
      @apply size-5;
      border-width: 4px;
    }
    &::-moz-range-thumb {
      @apply size-5;
      border-width: 4px;
    }
  }
}
