{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "htmlWhitespaceSensitivity": "ignore",
  "insertPragma": false,
  "printWidth": 120,
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "requirePragma": false,
  "semi": false,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false,
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "overrides": [
    {
      "files": [
        "*.js",
        "*.ts",
        "*.jsx",
        "*.tsx"
      ],
      "options": {
        "singleQuote": true,
        "jsxSingleQuote": true
      }
    }
  ],
  "plugins": [
    "prettier-plugin-tailwindcss"
  ]
}
