.menu {
  @apply bg-base-100 rounded-box p-2;
}
:where(.menu li:empty) {
  @apply bg-base-content opacity-10;
  margin: 0.5rem 1rem;
  height: 1px;
}
.menu :where(li:not(.dropdown) ul) {
  @apply ms-4 ps-2;
}

.menu :where(li:not(.dropdown) ul):before {
  @apply bg-base-content absolute bottom-[0.6rem] start-0 top-3 w-px opacity-10;
  content: "";
}

.menu :where(li:not(.menu-title, .tooltip) > *:not(ul, .collapse, .menu-title, .btn)) {
  @apply rounded-btn px-4 py-2.5 text-start transition duration-200 ease-out;
  text-wrap: balance;
}

.menu li.tooltip > * {
  @apply rounded-btn px-4 py-2.5 text-start;
}

:where(.menu li:not(.menu-title, .disabled, [disabled], :disabled)) {
  @apply text-base-content;
}

:where(.menu li:not(.menu-title, .disabled, [disabled], :disabled) > *:not(ul, .collapse, .menu-title)) {
  &:not(.active, .btn).focus,
  &:not(.active, .btn):focus,
  &:not(.active, .btn):focus-visible {
    @apply bg-base-content/10 text-base-content cursor-pointer outline-none;
  }
  @media (hover: hover) {
    &:not(.active, .btn, .disabled, :disabled, [disabled]):hover {
      @apply cursor-pointer outline-none;
      @supports (color: oklch(0 0 0)) {
        @apply bg-neutral/10;
      }
    }
  }
}

.menu li:not(.disabled, :disabled, [disabled]) > :not(ul, .menu-title, .collapse, .btn):active,
.menu li:not(.disabled, :disabled, [disabled]) > :not(ul, .menu-title, .collapse, .btn).active {
  @apply bg-primary/10 text-primary [@media(hover:hover)]:bg-primary/10 [@media(hover:hover)]:text-primary;
}

.menu li.disabled,
.menu li:disabled,
.menu li[disabled] {
  @apply pointer-events-none select-none opacity-50;
}

.menu-title {
  @apply text-base-content px-4 py-2 text-sm font-medium;
}
