.range {
  appearance: none;
  -webkit-appearance: none;
  --range-shdw: theme(colors.base-content);
  @apply relative rounded-full bg-transparent transition-all;

  &::-webkit-slider-runnable-track {
    @apply bg-neutral/10 h-2 w-full rounded-full;
  }
  &::-moz-range-track {
    @apply bg-neutral/10 h-2 w-full rounded-full;
  }

  &::-webkit-slider-thumb {
    @apply bg-base-100 relative top-1/2 size-4 -translate-y-1/2 rounded-full shadow transition-all duration-150 ease-in-out hover:scale-125 active:scale-125;
    appearance: none;
    box-sizing: border-box;
    -webkit-appearance: none;
    color: var(--range-shdw);
    border-color: var(--range-shdw);
    border-style: solid;
    border-width: 3px;

    &:hover {
      @apply cursor-grab;
      box-shadow: 0 0 0 2px var(--range-shdw);
    }
    &:active {
      @apply cursor-grabbing;
      box-shadow: 0 0 0 3px var(--range-shdw);
    }
  }

  &::-moz-range-thumb {
    @apply bg-base-100 relative size-4 rounded-full shadow transition-all duration-150 ease-in-out;
    top: 50%;
    color: var(--range-shdw);
    box-sizing: border-box;
    border-color: var(--range-shdw);
    border-style: solid;
    border-width: 3px;

    &:hover {
      @apply cursor-grab;
      box-shadow: 0 0 0 2px var(--range-shdw);
    }
    &:active {
      @apply cursor-grabbing;
      box-shadow: 0 0 0 3px var(--range-shdw);
    }
  }
}

/* Color */

.range-primary {
  --range-shdw: theme(colors.primary);
}
.range-secondary {
  --range-shdw: theme(colors.secondary);
}
.range-accent {
  --range-shdw: theme(colors.accent);
}
.range-success {
  --range-shdw: theme(colors.success);
}
.range-warning {
  --range-shdw: theme(colors.warning);
}
.range-info {
  --range-shdw: theme(colors.info);
}
.range-error {
  --range-shdw: theme(colors.error);
}

/* State */

.range.disabled,
.range:disabled,
.range[disabled] {
  @apply pointer-events-none opacity-30;
}

/* Direction */

[dir="rtl"] .range::-webkit-slider-thumb {
  transform: translateY(-50%) scaleX(-1);
}

[dir="rtl"] .range::-moz-range-thumb {
  transform: translateY(-50%) scaleX(-1);
}

[dir="rtl"] .range::-webkit-slider-runnable-track,
[dir="rtl"] .range::-moz-range-track {
  direction: rtl;
}
