.stats {
  @apply rounded-box bg-base-100 border-base-content/40 text-base-content/80;
  box-shadow: var(--card-shadow, 0px 2px 4px 0px oklch(var(--bs) / 0.26));
  border-width: var(--card-border, 0px);
}
:where(.stats) {
  @apply divide-x divide-y-0 overflow-x-auto;
}
:is([dir="rtl"] .stats > :not([hidden]) ~ :not([hidden])) {
  --tw-divide-x-reverse: 1;
}
.stat {
  @apply border-base-content/10 gap-x-4 gap-y-1 px-6 py-4;
  &-title {
    @apply text-base-content/80;
  }
  &-value {
    @apply text-base-content/90 text-3xl font-semibold;
  }
  &-desc {
    @apply text-base-content/50 text-xs;
  }
  &-actions {
    @apply mt-3;
  }
}
/* .stat + .stat {
  @apply border-l border-base-content border-opacity-10;
}
.stats.grid-flow-row {
  .stat + .stat {
    @apply border-l-0 border-t;
  }
} */
