.table {
  @apply rounded-box text-left text-sm rtl:text-right;
  @apply [&::-webkit-scrollbar-track]:bg-base-200 [&::-webkit-scrollbar-thumb]:bg-secondary/50 hover:[&::-webkit-scrollbar-thumb]:bg-secondary/80 overflow-y-auto overflow-x-hidden [&::-webkit-scrollbar]:w-2;
  :where(th, td) {
    @apply text-nowrap px-5 py-[0.55rem] align-middle text-base;
  }
  :where(th) {
    @apply text-base-content text-nowrap text-sm font-medium uppercase;
    letter-spacing: 1px;
  }
  &-xs :where(th, td) {
    @apply text-xs;
  }
  &-sm :where(th, td),
  &-md :where(th, td) {
    @apply text-sm;
  }
  tr.active,
  tr.active:nth-child(even),
  &-striped tbody tr:nth-child(even) {
    @apply bg-base-content/10;
  }
  tr.hover,
  tr.hover:nth-child(even) {
    @apply [@media(hover:hover)]:hover:bg-base-content/5;
  }

  &-striped {
    tr.active,
    tr.active:nth-child(even),
    &-striped tbody tr:nth-child(even) {
      @apply bg-base-content/10;
    }
  }
  &-striped tr.hover,
  &-striped tr.hover:nth-child(even) {
    @apply [@media(hover:hover)]:bg-base-content/5;
  }

  &-striped-columns td:nth-child(even),
  &-striped-columns th:nth-child(even) {
    @apply bg-base-content/10;
  }

  :where(thead, tbody) {
    :where(tr:not(:last-child)),
    :where(tr:first-child:last-child) {
      @apply border-base-content/25 border-b;
    }
  }

  :where(thead, tfoot, th) {
    @apply text-base-content whitespace-nowrap;
  }

  &-borderless {
    @apply border-none;
    :where(thead, tbody) {
      :where(tr:not(:last-child)),
      :where(tr:first-child:last-child) {
        @apply border-none;
      }
    }
  }
}
