textarea {
  @apply bg-transparent;
  &:focus {
    @apply outline-0 outline-transparent;
  }
  &:focus-visible {
    outline: unset;
  }
}

.textarea {
  @apply border-base-content/40 text-base-content/80 placeholder:text-base-content/50 rounded-box border;
  @apply [&::-webkit-scrollbar-thumb]:bg-secondary/50 hover:[&::-webkit-scrollbar-thumb]:bg-secondary/80 overflow-y-auto overflow-x-hidden [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:rounded-full [&::-webkit-scrollbar-track]:bg-transparent [&::-webkit-scrollbar]:w-2;

  &:focus,
  s &:focus-within {
    @apply ring-primary shadow-primary/22 border-primary shadow-sm ring-1;
  }

  &-floating {
    @apply focus:placeholder:text-base-content/50 placeholder:text-transparent;
    field-sizing: content;
  }

  &-filled {
    @apply bg-base-content/10 border-base-content/60 rounded-b-none border-0 border-b placeholder:text-transparent;
    @apply hover:border-base-content hover:border-0 hover:border-b focus-visible:outline-0 [&:not(:placeholder-shown)]:pt-6;
    field-sizing: content;
    &:focus,
    &:focus-within {
      @apply placeholder:text-base-content/50 border-primary pt-6 shadow-none ring-0;
    }

    &:focus ~ .textarea-filled-focused,
    &:focus-within ~ .textarea-filled-focused {
      @apply bg-primary scale-100;
    }
  }

  &.disabled,
  &:disabled,
  &[disabled] {
    @apply border-base-content/10 bg-neutral/10 text-base-content/50 pointer-events-none border-0;
  }
}

.textarea {
  &.textarea-floating {
    &.disabled,
    &:disabled,
    &[disabled] {
      @apply bg-base-100 border;
      & ~ .textarea-floating-label {
        @apply text-base-content/50;
      }
    }
  }

  &.textarea-filled {
    &.disabled,
    &:disabled,
    &[disabled] {
      @apply border-b;
      & ~ .textarea-filled-label {
        @apply text-base-content/50;
      }
    }
  }
}

/* label styles */
.textarea-floating-label,
.textarea-filled-label {
  @apply text-base-content/90 peer-focus:placeholder:text-base-content/50 peer-focus:text-primary pointer-events-none absolute start-0 top-2 w-full overflow-hidden text-ellipsis bg-transparent px-4 text-base transition-all ease-in;
}

.textarea-floating-label {
  .peer:focus ~ &,
  .peer:focus-within ~ &,
  .peer:not(:placeholder-shown) ~ & {
    @apply bg-base-100 top-0 ms-3 w-fit -translate-y-1/2 px-1 text-sm;
  }
}

.textarea-filled-label {
  @apply top-4;
  .peer:focus ~ &,
  .peer:focus-within ~ &,
  .peer:not(:placeholder-shown) ~ & {
    @apply top-1 ms-4 w-fit p-0 text-sm;
  }
}

/* input group */

.input-group {
  .textarea {
    @apply border-0;
    &:focus,
    &:focus-within {
      @apply shadow-none ring-0;
    }
  }
}

/* State style */
.textarea.is-valid,
.validate .textarea:valid {
  @apply border-success;
  &:focus,
  &:focus-within {
    @apply ring-success shadow-success/22 ring-1;
  }
  &.textarea-filled:focus,
  &.textarea-filled:focus-within {
    @apply border-success shadow-none ring-0;
  }

  & ~ .textarea-floating-label,
  & ~ .textarea-filled-label {
    @apply text-success;
  }
  &:focus ~ .textarea-filled-focused,
  &:focus-within ~ .textarea-filled-focused {
    @apply bg-success;
  }
}

.textarea:focus.is-valid ~ .textarea-floating-label,
.validate .textarea:focus:is-valid ~ .textarea-floating-label,
.textarea:focus.is-valid ~ .textarea-filled-label,
.validate .textarea:focus:is-valid ~ .textarea-filled-label {
  @apply text-success;
}

.textarea:focus.is-invalid ~ .textarea-floating-label,
.validate .textarea:focus:is-invalid ~ .textarea-floating-label,
.textarea:focus.is-invalid ~ .textarea-filled-label,
.validate .textarea:focus:is-invalid ~ .textarea-filled-label {
  @apply text-error;
}

.textarea.is-invalid,
.validate .textarea:invalid {
  @apply border-error;
  &:focus,
  &:focus-within {
    @apply ring-error shadow-error/22 ring-1;
  }
  &.textarea-filled:focus,
  &.textarea-filled:focus-within {
    @apply border-error shadow-none ring-0;
  }
  & ~ .textarea-floating-label,
  & ~ .textarea-filled-label {
    @apply text-error;
  }
  &:focus ~ .textarea-filled-focused,
  &:focus-within ~ .textarea-filled-focused {
    @apply bg-error;
  }
}

/* Label state */
/* main style is in textarea.css  */

/* This style the top right side label for floating and filled */
.validate .label:has(+ * > .textarea:valid) > *,
.validate .label:has(+ * > .textarea:valid),
/*This style the bottom start and end side label for floating and filled  */
.validate .label ~ *:has(> .textarea:valid) ~ .label .label-text-alt,
/* This style the top start and end side label for floating and default */
.validate .label:has(~ .textarea:valid) > *,
.validate .label:has(~ .textarea:valid),
.validate .label:has(~ .textarea:valid) :where(.label-text),
/* When .is-valid is immediately followed by .label */
.validate .textarea:valid ~  .label {
  @apply text-success;
}

/* This style the top right side label for floating and filled */
.validate .label:has(+ * > .textarea:invalid) > *,
.validate .label:has(+ * > .textarea:invalid),
/*This style the bottom start and riend side label for floating and filled  */
.validate .label ~ *:has(> .textarea:invalid) ~ .label .label-text-alt,
/* This style the top start and riend side label for floating and default */
.validate .label:has(~ .textarea:invalid) > *,
.validate .label:has(~ .textarea:invalid),
.validate .label:has(~ .textarea:invalid) :where(.label-text),
/* When .is-invalid is .label */
.validate .textarea:invalid ~ .label {
  @apply text-error;
}

/* Helper text */
/* main style is in textarea.css  */

.validate *:has(> .textarea:valid) ~ * > .success-message,
.validate *:has(> .textarea:valid) ~ .success-message,
.validate .textarea:valid ~ * > .success-message,
.validate .textarea:valid ~ .success-message {
  @apply block;
}

.validate *:has(> .textarea:invalid) ~ * > .error-message,
.validate *:has(> .textarea:invalid) ~ .error-message,
.validate .textarea:invalid ~ * > .error-message,
.validate .textarea:invalid ~ .error-message {
  @apply block;
}
