.tooltip {
  &-content {
    @apply transition-opacity;
  }

  &-body {
    --tooltip-color: theme(colors.neutral);
    --tooltip-text-color: theme(colors.neutral-content);
    @apply rounded-tooltip text-sm shadow-md;
    background-color: var(--tooltip-color);
    color: var(--tooltip-text-color);
  }

  &-primary {
    --tooltip-color: theme(colors.primary);
    --tooltip-text-color: theme(colors.primary-content);
  }
  &-secondary {
    --tooltip-color: theme(colors.secondary);
    --tooltip-text-color: theme(colors.secondary-content);
  }
  &-accent {
    --tooltip-color: theme(colors.accent);
    --tooltip-text-color: theme(colors.accent-content);
  }
  &-info {
    --tooltip-color: theme(colors.info);
    --tooltip-text-color: theme(colors.info-content);
  }
  &-success {
    --tooltip-color: theme(colors.success);
    --tooltip-text-color: theme(colors.success-content);
  }
  &-warning {
    --tooltip-color: theme(colors.warning);
    --tooltip-text-color: theme(colors.warning-content);
  }
  &-error {
    --tooltip-color: theme(colors.error);
    --tooltip-text-color: theme(colors.error-content);
  }
}
