.breadcrumbs {
  @apply max-w-full overflow-x-auto;
  & > ul,
  & > ol {
    @apply flex items-center whitespace-nowrap py-2 leading-6;
    min-height: min-content;
    .breadcrumbs-separator {
      @apply inline-flex w-6 shrink-0 items-center justify-center;
    }
    & > li {
      @apply inline-flex items-center leading-[22px];

      & > a {
        @apply hover:text-primary inline-flex items-center gap-1;
      }

      &:last-child {
        @apply text-base-content cursor-text font-medium;
      }
    }
  }
}
