color-scheme: dark;
--color-base-100: oklch(23.2% 0.006 285.95);
--color-base-200: oklch(14% 0.005 285.823);
--color-base-300: oklch(14% 0 0);
--color-base-content: oklch(96% 0.001 286.375);
--color-primary: oklch(58% 0.233 277.117);
--color-primary-content: oklch(98% 0.022 95.277);
--color-secondary: oklch(60% 0.118 184.704);
--color-secondary-content: oklch(98% 0.014 180.72);
--color-accent: oklch(0.51 0.27 271.36);
--color-accent-content: oklch(100% 0 0);
--color-neutral: oklch(98% 0 0);
--color-neutral-content: oklch(37% 0.044 257.287);
--color-info: oklch(58% 0.158 241.966);
--color-info-content: oklch(97% 0.013 236.62);
--color-success: oklch(64% 0.2 131.684);
--color-success-content: oklch(98% 0.031 120.757);
--color-warning: oklch(55% 0.163 48.998);
--color-warning-content: oklch(98% 0.026 102.212);
--color-error: oklch(63% 0.237 25.331);
--color-error-content: oklch(97% 0.013 17.38);
--radius-selector: 2rem;
--radius-field: 0.25rem;
--radius-box: 0.5rem;
--size-selector: 0.25rem;
--size-field: 0.25rem;
--border: 2px;
--depth: 1;
--noise: 0;
