color-scheme: "light";
--color-base-100: oklch(98% 0.01 93.48);
--color-base-200: oklch(94.95% 0.01 87.47);
--color-base-300: oklch(0.8685 0.0109 100.85);
--color-base-content: oklch(34% 0.03 94.42);
--color-primary: oklch(62% 0.14 39.15);
--color-primary-content: oklch(100% 0 0);
--color-secondary: oklch(69% 0.16 290.41);
--color-secondary-content: oklch(14% 0 0);
--color-accent: oklch(42.621% 0.074 224.389);
--color-accent-content: oklch(88.524% 0.014 224.389);
--color-neutral: oklch(20% 0 0);
--color-neutral-content: oklch(98% 0 0);
--color-info: oklch(56% 0.13 42.95);
--color-info-content: oklch(100% 0 0);
--color-success: oklch(60% 0.1 120.29);
--color-success-content: oklch(100% 0 0);
--color-warning: oklch(85% 0.12 80.65);
--color-warning-content: oklch(0% 0 0);
--color-error: oklch(64% 0.25 19.69);
--color-error-content: oklch(100% 0 0);
--radius-selector: 1rem;
--radius-field: 1rem;
--radius-box: 1rem;
--size-selector: 0.25rem;
--size-field: 0.25rem;
--border: 1px;
--depth: 1;
--noise: 0;
