color-scheme: dark;
--color-base-100: oklch(31.23% 0.026 301.24);
--color-base-200: oklch(25.39% 0.025 298.72);
--color-base-300: oklch(23.44% 0.0194 298.63);
--color-base-content: oklch(84.98% 0.014 295.28);
--color-primary: oklch(53.93% 0.271 286.75);
--color-primary-content: oklch(88.22% 0.062 290.17);
--color-secondary: oklch(49.12% 0.021 303.05);
--color-secondary-content: oklch(88.83% 0.007 304.23);
--color-accent: oklch(54.61% 0.215 262.88);
--color-accent-content: oklch(88.23% 0.057 254.13);
--color-neutral: oklch(65.75% 0.022 294.95);
--color-neutral-content: oklch(18.51% 0.017 301.92);
--color-info: oklch(60.89% 0.111 221.72);
--color-info-content: oklch(91.67% 0.077 205.04);
--color-success: oklch(67.35% 0.201 146.84);
--color-success-content: oklch(91.38% 0.069 168.24);
--color-warning: oklch(72.59% 0.152 69.05);
--color-warning-content: oklch(96.07% 0.057 93.2);
--color-error: oklch(59.54% 0.208 26.28);
--color-error-content: oklch(93.4% 0.039 54.86);
--radius-selector: 0.25rem;
--radius-field: 0.375rem;
--radius-box: 0.5rem;
--size-selector: 0.25rem;
--size-field: 0.25rem;
--border: 1px;
--depth: 0;
--noise: 0;
