color-scheme: light;
--color-base-100: oklch(0.94 0.0262 82.38);
--color-base-200: oklch(0.91 0.0326 80.99);
--color-base-300: oklch(0.34 0.0131 81.73 / 20%);
--color-base-content: oklch(41% 0.077 79.04);
--color-primary: oklch(0.62 0.0868 111.8);
--color-primary-content: oklch(97% 0.009 106.57);
--color-secondary: oklch(44% 0.043 257.281);
--color-secondary-content: oklch(92% 0.013 255.508);
--color-accent: oklch(70% 0.14 182.503);
--color-accent-content: oklch(98% 0.014 180.72);
--color-neutral: oklch(41% 0.025 282.21);
--color-neutral-content: oklch(98% 0.001 286.38);
--color-info: oklch(62% 0.214 259.815);
--color-info-content: oklch(97% 0.014 254.604);
--color-success: oklch(64% 0.2 131.684);
--color-success-content: oklch(98% 0.031 120.757);
--color-warning: oklch(68% 0.162 75.834);
--color-warning-content: oklch(28% 0.066 53.813);
--color-error: oklch(63% 0.237 25.331);
--color-error-content: oklch(97% 0.013 17.38);
--radius-selector: 0.25rem;
--radius-field: 1rem;
--radius-box: 2rem;
--size-selector: 0.25rem;
--size-field: 0.25rem;
--border: 1px;
--depth: 0;
--noise: 0;
