color-scheme: light;
--color-base-100: oklch(99.45% 0.002 67.8);
--color-base-200: oklch(98.19% 0.008 61.46);
--color-base-300: oklch(47% 0.0131 54.28);
--color-base-content: oklch(32.38% 0.009 67.5);
--color-primary: oklch(70.49% 0.187 47.6);
--color-primary-content: oklch(97.96% 0.016 73.68);
--color-secondary: oklch(55.79% 0.022 301.91);
--color-secondary-content: oklch(95.05% 0.003 308.43);
--color-accent: oklch(65.59% 0.212 354.31);
--color-accent-content: oklch(97.14% 0.014 343.2);
--color-neutral: oklch(32.38% 0.009 67.5);
--color-neutral-content: oklch(99.45% 0.002 67.8);
--color-info: oklch(68.47% 0.148 237.32);
--color-info-content: oklch(97.71% 0.012 236.62);
--color-success: oklch(69.59% 0.149 162.48);
--color-success-content: oklch(97.93% 0.021 166.11);
--color-warning: oklch(57.59% 0.247 287.24);
--color-warning-content: oklch(96.57% 0.017 289.61);
--color-error: oklch(65.39% 0.222 25.86);
--color-error-content: oklch(98.76% 0.009 67.73);
--radius-selector: 2rem;
--radius-field: 2rem;
--radius-box: 0.75rem;
--size-selector: 0.25rem;
--size-field: 0.25rem;
--border: 1px;
--depth: 1;
--noise: 0;
