color-scheme: light;
--color-base-100: oklch(100% 0 0);
--color-base-200: oklch(97.8% 0.005 297.73);
--color-base-300: oklch(37.01% 0.0069 297.49);
--color-base-content: oklch(37.57% 0.022 281.8);
--color-primary: oklch(57.59% 0.247 287.24);
--color-primary-content: oklch(96.57% 0.017 289.61);
--color-secondary: oklch(55.79% 0.022 301.91);
--color-secondary-content: oklch(97.64% 0.001 286.38);
--color-accent: oklch(62.31% 0.188 259.81);
--color-accent-content: oklch(97.05% 0.014 254.6);
--color-neutral: oklch(37.57% 0.0222 281.8);
--color-neutral-content: oklch(0.98 0.0013 286.38);
--color-info: oklch(71.48% 0.126 215.22);
--color-info-content: oklch(98.41% 0.019 200.87);
--color-success: oklch(73.11% 0.217 147.04);
--color-success-content: oklch(98.1% 0.014 174.18);
--color-warning: oklch(79.87% 0.164 73.09);
--color-warning-content: oklch(99.34% 0.011 95.16);
--color-error: oklch(65.39% 0.222 25.86);
--color-error-content: oklch(98.76% 0.009 67.73);
--radius-selector: 0.25rem;
--radius-field: 0.375rem;
--radius-box: 0.5rem;
--size-selector: 0.25rem;
--size-field: 0.25rem;
--border: 1px;
--depth: 0;
--noise: 0;
