color-scheme: dark;
--color-base-100: oklch(24.97% 0.0235 60.71);
--color-base-200: oklch(20.19% 0.0212 56.18);
--color-base-300: oklch(13.67% 0.0208 68.4);
--color-base-content: oklch(89.79% 0.0323 68.91);
--color-primary: oklch(68.75% 0.0948 67.23);
--color-primary-content: oklch(92.24% 0.0235 69.59);
--color-secondary: oklch(55.79% 0.0221 301.91);
--color-secondary-content: oklch(97.64% 0.0013 286.38);
--color-accent: oklch(64.45% 0.1596 354.64);
--color-accent-content: oklch(89.57% 0.0416 348.79);
--color-neutral: oklch(0.51 0.0449 70.29);
--color-neutral-content: oklch(16.74% 0.0325 59.58);
--color-info: oklch(55.75% 0.0746 234.15);
--color-info-content: oklch(87.94% 0.0196 230.73);
--color-success: oklch(52.65% 0.0537 188.98);
--color-success-content: oklch(84.44% 0.0185 192.54);
--color-warning: oklch(57.37% 0.149 296.3);
--color-warning-content: oklch(88.26% 0.0392 300.25);
--color-error: oklch(50.81% 0.097 4.98);
--color-error-content: oklch(87.99% 0.021 358.74);
--radius-selector: 0.1875rem;
--radius-field: 0.375rem;
--radius-box: 0.5625rem;
--size-selector: 0.25rem;
--size-field: 0.25rem;
--border: 1px;
--depth: 1;
--noise: 0;
