color-scheme: "light";
--color-base-100: oklch(1 0 0);
--color-base-200: oklch(0.9726 0.0086 264.52);
--color-base-300: oklch(0.8047 0 0);
--color-base-content: oklch(0.22 0 0);
--color-primary: oklch(0.8 0.14 348.82);
--color-primary-content: oklch(0 0 0);
--color-secondary: oklch(0.7481 0.1406 97.42);
--color-secondary-content: oklch(0 0 0);
--color-accent: oklch(0.83 0.09 247.96);
--color-accent-content: oklch(0 0 0);
--color-neutral: oklch(0.8324 0.0531 231.64);
--color-neutral-content: oklch(0.22 0 0);
--color-info: oklch(89% 0.057 293.283);
--color-info-content: oklch(54% 0.281 293.009);
--color-success: oklch(84% 0.238 128.85);
--color-success-content: oklch(0 0 0);
--color-warning: oklch(0.7987 0.1642 73.09);
--color-warning-content: oklch(0 0 0);
--color-error: oklch(70% 0.191 22.216);
--color-error-content: oklch(0 0 0);
--radius-selector: 0.25rem;
--radius-field: 0.25rem;
--radius-box: 0.25rem;
--size-selector: 0.25rem;
--size-field: 0.25rem;
--border: 1px;
--depth: 1;
--noise: 0;
