color-scheme: light;
--color-base-100: oklch(98.69% 0.007 145.52);
--color-base-200: oklch(95.89% 0.019 145.43);
--color-base-300: oklch(48.75% 0.0326 146.64);
--color-base-content: oklch(21% 0.006 56.043);
--color-primary: oklch(62% 0.194 149.214);
--color-primary-content: oklch(98% 0.018 155.826);
--color-secondary: oklch(84.42% 0.172 84.934);
--color-secondary-content: oklch(47% 0.137 46.201);
--color-accent: oklch(55% 0.016 285.938);
--color-accent-content: oklch(98% 0 0);
--color-neutral: oklch(26% 0.007 34.298);
--color-neutral-content: oklch(97% 0.001 106.424);
--color-info: oklch(65.52% 0.111 212.17);
--color-info-content: oklch(39% 0.07 227.392);
--color-success: oklch(64.01% 0.175 146.74);
--color-success-content: oklch(26% 0.065 152.934);
--color-warning: oklch(77.03% 0.174 64.05);
--color-warning-content: oklch(47% 0.137 46.201);
--color-error: oklch(59.15% 0.202 21.24);
--color-error-content: oklch(97% 0.014 343.198);
--radius-selector: 2rem;
--radius-field: 1rem;
--radius-box: 0.5rem;
--size-selector: 0.25rem;
--size-field: 0.25rem;
--border: 1px;
--depth: 1;
--noise: 0;
