color-scheme: "dark";
--color-base-100: oklch(0.28 0.0292 308.75);
--color-base-200: oklch(0.2182 0.0098 52.95);
--color-base-300: oklch(0.3467 0.0053 301.25);
--color-base-content: oklch(98% 0.003 247.858);
--color-primary: oklch(79% 0.12 295.97);
--color-primary-content: oklch(100% 0 0);
--color-secondary: oklch(91% 0.05 306.07);
--color-secondary-content: oklch(45% 0.03 257.68);
--color-accent: oklch(72% 0.2 210);
--color-accent-content: oklch(37% 0.03 259.73);
--color-neutral: oklch(1 0 0);
--color-neutral-content: oklch(14% 0.004 49.25);
--color-info: oklch(50% 0.25 255.25);
--color-info-content: oklch(100% 0 0);
--color-success: oklch(69% 0.17 162.48);
--color-success-content: oklch(100% 0 0);
--color-warning: oklch(79% 0.184 86.047);
--color-warning-content: oklch(0% 0 0);
--color-error: oklch(64% 0.246 16.439);
--color-error-content: oklch(100% 0 0);
--radius-selector: 2rem;
--radius-field: 2rem;
--radius-box: 2rem;
--size-selector: 0.25rem;
--size-field: 0.25rem;
--border: 1px;
--depth: 1;
--noise: 0;
