color-scheme: "light";
--color-base-100: oklch(95.36% 0.011 196.98);
--color-base-200: oklch(0.9393 0.0096 196.99);
--color-base-300: oklch(85.94% 0.009 258.34);
--color-base-content: oklch(23.72% 0.034 208.26);
--color-primary: oklch(72% 0.12 210.36);
--color-primary-content: oklch(100% 0 0);
--color-secondary: oklch(66.11% 0.123 228.63);
--color-secondary-content: oklch(98% 0 0);
--color-accent: oklch(67% 0.182 276.935);
--color-accent-content: oklch(25% 0.09 281.288);
--color-neutral: oklch(14% 0 0);
--color-neutral-content: oklch(100% 0 0);
--color-info: oklch(58% 0.1 218.29);
--color-info-content: oklch(100% 0 0);
--color-success: oklch(73% 0.14 118.63);
--color-success-content: oklch(100% 0 0);
--color-warning: oklch(85% 0.16 72.74);
--color-warning-content: oklch(0% 0 0);
--color-error: oklch(64% 0.21 25.39);
--color-error-content: oklch(100% 0 0);
--radius-selector: 1rem;
--radius-field: 1rem;
--radius-box: 1rem;
--size-selector: 0.25rem;
--size-field: 0.25rem;
--border: 1px;
--depth: 1;
--noise: 0;
