color-scheme: light;
--color-base-100: oklch(100% 0 0);
--color-base-200: oklch(96.74% 0.0013 286.38);
--color-base-300: oklch(0% 0 0);
--color-base-content: oklch(21.03% 0.0059 285.89);
--color-primary: oklch(27.39% 0.0055 286.03);
--color-primary-content: oklch(98.51% 0 0);
--color-secondary: oklch(55.79% 0.0221 301.91);
--color-secondary-content: oklch(97.64% 0.0013 286.38);
--color-accent: oklch(62.31% 0.188 259.81);
--color-accent-content: oklch(97.05% 0.0142 254.6);
--color-neutral: oklch(40.66% 0.0251 282.21);
--color-neutral-content: oklch(97.64% 0.0013 286.38);
--color-info: oklch(71.48% 0.1257 215.22);
--color-info-content: oklch(98.41% 0.0189 200.87);
--color-success: oklch(69.59% 0.1491 162.48);
--color-success-content: oklch(97.93% 0.0207 166.11);
--color-warning: oklch(70.49% 0.1867 47.6);
--color-warning-content: oklch(97.96% 0.0158 73.68);
--color-error: oklch(65.39% 0.2221 25.86);
--color-error-content: oklch(98.76% 0.0085 67.73);
--radius-selector: 0.125rem;
--radius-field: 0.25rem;
--radius-box: 0.375rem;
--size-selector: 0.25rem;
--size-field: 0.25rem;
--border: 1px;
--depth: 1;
--noise: 0;
