color-scheme: light;
--color-base-100: oklch(97.31% 0 0);
--color-base-200: oklch(93.7% 0 0);
--color-base-300: oklch(38.87% 0.0052 301.28);
--color-base-content: oklch(21% 0.006 56.043);
--color-primary: oklch(30.65% 0.108 327.06);
--color-primary-content: oklch(97% 0.014 254.604);
--color-secondary: oklch(0% 0 0);
--color-secondary-content: oklch(100% 0 0);
--color-accent: oklch(55% 0.016 285.938);
--color-accent-content: oklch(98% 0 0);
--color-neutral: oklch(14% 0.004 49.25);
--color-neutral-content: oklch(98% 0.001 106.423);
--color-info: oklch(76.8% 0.131 223.2);
--color-info-content: oklch(45% 0.085 224.283);
--color-success: oklch(69.11% 0.142 160.24);
--color-success-content: oklch(39% 0.095 152.535);
--color-warning: oklch(79.66% 0.152 82.65);
--color-warning-content: oklch(47% 0.137 46.201);
--color-error: oklch(58.8% 0.222 11.49);
--color-error-content: oklch(97% 0.014 343.198);
--radius-selector: 2rem;
--radius-field: 0.25rem;
--radius-box: 0.5rem;
--size-selector: 0.25rem;
--size-field: 0.25rem;
--border: 1px;
--depth: 1;
--noise: 0;
