color-scheme: "dark";
--color-base-100: oklch(0.1964 0.0168 268.77);
--color-base-200: oklch(9.3% 0.007 145);
--color-base-300: oklch(55% 0.046 257.417);
--color-base-content: oklch(98% 0.003 247.858);
--color-primary: oklch(70% 0.18 153.85);
--color-primary-content: oklch(1 0 0);
--color-secondary: oklch(98% 0.031 120.757);
--color-secondary-content: oklch(27% 0.072 132.109);
--color-accent: oklch(45% 0.05 250.05);
--color-accent-content: oklch(95% 0.01 238.46);
--color-neutral: oklch(1 0 0);
--color-neutral-content: oklch(14% 0 0);
--color-info: oklch(60% 0.1 269.83);
--color-info-content: oklch(95% 0.01 238.46);
--color-success: oklch(72% 0.12 201.79);
--color-success-content: oklch(95% 0.01 238.46);
--color-warning: oklch(80% 0.1 100.65);
--color-warning-content: oklch(0% 0 0);
--color-error: oklch(64% 0.25 19.69);
--color-error-content: oklch(95% 0.01 238.46);
--radius-selector: 1rem;
--radius-field: 1rem;
--radius-box: 1rem;
--size-selector: 0.25rem;
--size-field: 0.25rem;
--border: 1px;
--depth: 1;
--noise: 0;
