color-scheme: light;
--color-base-100: oklch(99.14% 0.0044 359.99);
--color-base-200: oklch(96.72% 0.0163 12.78);
--color-base-300: oklch(27.67% 0.0779 19.29);
--color-base-content: oklch(21% 0.006 56.043);
--color-primary: oklch(66.77% 0.2199 21.34);
--color-primary-content: oklch(97% 0.013 17.38);
--color-secondary: oklch(30.12% 0 0);
--color-secondary-content: oklch(100% 0 0);
--color-accent: oklch(55% 0.016 285.938);
--color-accent-content: oklch(98% 0 0);
--color-neutral: oklch(20.89% 0.0248 249.09);
--color-neutral-content: oklch(98% 0.001 106.423);
--color-info: oklch(58% 0.158 241.966);
--color-info-content: oklch(98% 0.019 200.873);
--color-success: oklch(76.82% 0.1855 152.24);
--color-success-content: oklch(39% 0.095 152.535);
--color-warning: oklch(80.16% 0.1705 73.27);
--color-warning-content: oklch(47% 0.137 46.201);
--color-error: oklch(67.08% 0.2165 25.19);
--color-error-content: oklch(97% 0.014 343.198);
--radius-selector: 0rem;
--radius-field: 0rem;
--radius-box: 0rem;
--size-selector: 0.25rem;
--size-field: 0.25rem;
--border: 1px;
--depth: 1;
--noise: 1;
