/* custom option */
.custom-soft-option,
.custom-option {
  @apply rounded-box w-full overflow-hidden border p-4 text-center;
  border: var(--border) solid var(--input-color, color-mix(in oklab, var(--color-base-content) 40%, #0000));
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  &:hover {
    border-color: var(--input-color, color-mix(in oklab, var(--color-base-content) 40%, #0000));
    box-shadow: 0 0 0 1px var(--input-color, color-mix(in oklab, var(--color-base-content) 40%, #0000));
  }

  & > .label-text {
    @apply p-0;
  }
}

.custom-option {
  &:has(:checked) {
    border-color: var(--input-color, var(--color-primary));
    box-shadow: 0 0 0 1px var(--input-color, var(--color-primary));
  }
}

.custom-soft-option {
  background-color: color-mix(in oklab, var(--input-color, var(--color-neutral)) 5%, #0000);
  &:has(:checked) {
    border-color: var(--input-color, var(--color-primary));
    background-color: color-mix(in oklab, var(--input-color, var(--color-primary)) 10%, #0000);
    box-shadow: 0 0 0 1px var(--input-color, var(--color-primary));
  }
}
