<div>
  <strong>Hi @{{inputs.user}} <img
    src="https://user-images.githubusercontent.com/47495003/171637050-b790338b-c8fd-4807-af43-19c6fd6713ed.gif"
    height="25px" width="25px"></strong>

  <p>Thank you for your support in helping us improve FlyonUI!</p>

  <p>We’ve received your submission and will respond within few business days. Our team handles issues one at a time, and we’ll be reviewing yours as soon as possible. </p>

  <p>In the meantime, any additional details or a reproducible example would be greatly appreciated and will help us resolve the issue more efficiently.</p>

  <p>Thank you for your patience and understanding!</p>
</div>
